

.grid-6 {
    background: #fff;
    margin: 30px auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 600px 70px 600px 600px 80px 600px 70px 600px 70px 600px 70px 600px;
    grid-template-areas: 
    '. d d d d .'
    'zz5 zz5 . . . .'
    '. o o o o .'
    '. p p r r .'
    'zz1 zz1 . . . .'
    'n n l l j j'
    'zz2 zz2 . . . .'
    'i i h h g g'
    'zz3 zz3 . . . .'
    'f f e e c c'
    'zz4 zz4 . . . .'
    '. b b a a .';
    
    padding: 0px;
    max-width: 1252px;
    border: 0px solid black;
    box-shadow: 5px 5px 10px #0000004f;
    border-radius: 25px;
    position: relative;
    z-index: -1;
}

.grid-6 div {
    margin: 20px;
}

.grid-6 img {
    width: 100%;
}

.z1 {
    grid-area: a;
}

.z2 {
    grid-area: b;
}

.z3 {
    grid-area: c;
}

.z4 {
    grid-area: d;
}

.z4 img {
    border: 3px purple solid;
}

.z5 {
    grid-area: e;
}

.z6 {
    grid-area: f;
}

.z6 img {
    margin-top: 120px;
}

.z7 {
    grid-area: g;
}

.z8 {
    grid-area: h;
}

.z9 {
    grid-area: i;
}

.z10 {
    grid-area: j;
}

.z12 {
    grid-area:l;
}

.z14 {
    grid-area: n;
}

.z15 {
    grid-area: o;
}

.z16 {
    grid-area: p;
}

.z17 {
    grid-area: r;
}

.zz1 {
    grid-area: zz1;
    text-align: center;
    color: purple;
}

.zz2 {
    grid-area: zz2;
    text-align: center;
    color: purple;
}

.zz3 {
    grid-area: zz3;
    text-align: center;
    color: purple;
}

.zz4 {
    grid-area: zz4;
    text-align: center;
    color: purple;
}

.zz5 {
    grid-area: zz5;
    text-align: center;
    color: purple;
}