* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background-image: url(../styles/fon2.0.png);
    background-size: 240px;
}

header {
    display: flex;
    background-color: #f1f1f1;
    padding: 20px;
    justify-content: center;
    box-shadow: 0 5px 5px -1px rgba(0, 0, 0, 0.205);
}

header div {
    background-color: #dca5fa;
    margin: 0 5px;
    display: block;
    padding: 10px;
    width: 147px;
    text-align: center;
    border: 1px rgba(0, 0, 0, 0.283) solid;
    border-radius: 50px;
    font: caption;
    cursor: pointer;
    transition: .5s;
}

header div ul {
    position: absolute;
}

header div ul li {
    background-color: #dca5fa;
    margin-top: 10px;
    font-size: 13px;
    font-weight: bold;
    width: 147px;
    padding: 10px;
    list-style-type: none;
    position: relative;
    top: 10px;
    right: 10px;
    border: 1px rgba(0, 0, 0, 0.273) solid;
    border-radius: 50px;
    display: none;
    transition: .5s;
    color: purple;
}

header div ul li a {
    text-decoration: none;
}
header div:hover {
    background-color: rgb(235, 211, 255);
}

header div:hover ul li {
   display: block;
}

header div ul li:hover {
    background-color: rgb(235, 211, 255);
}


header p {
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
    color: purple;
}