.a1 {
    width: 1252px;
    margin: 30px auto;
    border: 0px #000 solid;
    border-radius: 25px;
    box-shadow: 5px 5px 10px #0000007a;
    background-color: #fff;
}

.a2 {
    display: flex;
    padding: 50px;
}

.a3 {
    display: flex;
    align-items: center;
    margin-left: 180px;
}

.skachat2 {
    width: 60px;
}

.rod {
    box-shadow: 2px 2px 10px #000;
    width: 600px;
}

.a3 a {
    margin-left: 20px;
}