.contik {
    margin: 112px auto;
    border-radius: 25px;
    box-shadow: 5px 5px 10px #0000007c;
    width: 1152px;
    padding: 50px;
    background-color: #fff;
}

.sisilka {
    display: flex;
    align-items: center;
}

.sisilka img {
    width: 100px;
    margin: 20px 0;
    margin-right: 20px;
    margin-left: 200px;
}
