.t1 {
    width: 1252px;
    margin: 30px auto;
    border: 0px #000 solid;
    border-radius: 25px;
    box-shadow: 5px 5px 10px #0000007a;
    background: #fff;
}

.t2 {
    display: flex;
    padding: 50px;
}

.t3 {
    display: flex;
    align-items: center;
    margin-left: 180px;
}

.skachat {
    width: 60px;
}

.ucheb {
    box-shadow: 2px 2px 10px #000;
}

.t3 a {
    margin-left: 20px;
}